


.navbar {
	margin:0;
	border-bottom: 10px solid #c21313;
}
	
.navbar-brand {
	width: 300px;
	height:150px;
}

@media (min-width: 768px) {
	.nav li {
	font-size: 20px;
	padding: 20px 0 0 20px;
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
}
	.nav ul {
		float:right;

}
}

@media (min-width: 992px)  {
	.nav li {
	font-size: 30px;
	padding: 20px 0 0 30px;
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
}
	.nav ul {
		float:right;

}

}
@media (min-width: 1200px) {
.nav li {
	font-size: 40px;
	padding: 50px 0 0 60px;
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
}
}


.carousel-caption h1 {
	font-family: 'Bangers', cursive;
	font-size: 98px;
	color: #ffbe00;
}

.carousel-caption p {
	font-family: 'Bree Serif', serif;
	font-size: 38px;
	color:#ffbe00;
}

.btn-primary {
	color: #ffbe00;
    background-color: #C21313;
    border-color: #ffbe00;
    font-family: 'Bree Serif', serif;
    font-weight: 900;
    font-size: 30px;
}



.col-lg-4  h2 {
	font-family: 'Bangers', cursive;
	color:#C21313;
}


.col-lg-4  p {
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
	color: #000000;
	margin:0;
	padding:0;
	text-align: inherit;
}

.container-2 {
	background-color: #cbcfdb;
}
.col-lg-4 .btn {
	color: #ffbe00;
    background-color: #C21313;
    border-color: #ffbe00;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}
.col-md-7 h2 {
	margin-top: 0;
} 
